
.checkOutTable {
    border: 3px solid #707fa0;;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
}
.checkOutBtn {
    width: 7%;
    margin-left: 83%;
    margin-top: 2%;
    text-align: center;
}

#datepicker{
    visibility:hidden;
    display:none;
}
@media (max-width: 688px){
    .checkOutBtn {
        width: 31%;
        margin-left: 63%!important;
        margin-top: 4%;
        text-align: center;
    }
}